.component {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.buttons {
	margin-top: 32px;
	color: #fff;
	display: flex;
	gap: 8px;
}

.mainImg {
	width: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}