.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
}

.avatarContainer {
	display: flex;
	justify-content: center;
}

.avatar {
	border-radius: 50%;
	width: 100%;
	padding: 24px;
	margin-top: 50px;
}

.star {
	position: absolute !important;
	right: 16px;
	top: 100px;
}

.cup {
	position: absolute !important;
	left: 16px;
	top: 100px;
}